.calculate{
    height: 45vh;
    width: 16%;
    box-shadow: 5px 10px 18px black;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 10%;
    padding: 10px;
}
input{
    height: 7vh;
    width: 90%;
    margin-top: 5px;
    margin-left: 2px;
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
    box-shadow: 4px 8px 16px black inset;

}
input[type=text] {
    padding-left: 15px;
}
.btn{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.btn1{
    height: 7vh;
    width: 7vh;
    background-color: white;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: 5px 10px 18px black;
    border: none;
}
.btn2{
    height: 7vh;
    width: 7vh;
    background-color: white;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: 5px 10px 18px black;
    border: none;
}
.btn3{
    height: 7vh;
    width: 7vh;
    background-color: white;
    border-radius: 50px;
    box-shadow: 5px 10px 18px black;
    font-size: 1.5rem;
    border: none;
}
.btn4{
    height: 7vh;
    width: 7vh;
    background-color: white;
    box-shadow: 5px 10px 18px black; 
    color: red;   
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
}
.btn5{
    height: 7vh;
    width: 7vh;
    background-color: white;
    box-shadow: 5px 10px 18px black;   
    border-radius: 50px;
    font-size: 1.5rem;
    border: none;
}
.btn6{
    height: 7vh;
    box-shadow: 5px 10px 18px black;
    width: 7vh;
    background-color: white;
    border-radius: 50px;
    font-size: 1.5rem;
    border: none;
}
.btn7{
    height: 7vh;
    width: 7vh;
    background-color: white;
    box-shadow: 5px 10px 18px black;
    border-radius: 50px;
    font-size: 1.5rem;
    border: none;
}
.btn8{
    height: 7vh;
    width: 7vh;
    background-color: white;
    color: red;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: 5px 10px 18px black;
    border: none;
}
.btn9{
    height: 7vh;
    width: 7vh;
    background-color: white;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: 5px 10px 18px black;
    border: none;
}
.btn10{
    height: 7vh;
    width: 7vh;
    background-color: white;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: 5px 10px 18px black;
    border: none;
}
.btn11{
    height: 7vh;
    width: 7vh;
    background-color: white;
    border-radius: 50px;
    box-shadow: 5px 10px 18px black;
    font-size: 1.5rem;
    border: none;
}
.btn12{
    height: 7vh;
    width: 7vh;
    background-color: white;
    color: red;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: 5px 10px 18px black;
    border: none;
}
.btn13{
    height: 7vh;
    width: 7vh;
    background-color: white;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: 5px 10px 18px black;
    border: none;
}
.btn14{
    height: 7vh;
    width: 7vh;
    background-color: white;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: 5px 10px 18px black;
    border: none;
}
.btn15{
    height: 7vh;
    width: 7vh;
    background-color: white;
    color: red;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: 5px 10px 18px black;
    border: none;
}
.btn16{
    height: 7vh;
    width: 7vh;
    background-color: white;
    color: red;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: 5px 10px 18px black;
    border: none;
}
@media(max-width: 1025px) {
    .calculate{
        width: 18%;
    }
}
@media(max-width: 769px) {
    .calculate{
        width: 25%;
        margin: auto;
        margin-top: 15%;
    }
}
@media(max-width: 426px) {
    .calculate{
        width: 40%;
        margin: auto;
        margin-top: 35%;
    }
}
@media(max-width: 376px) {
    .calculate{
        width: 50%;
        margin: auto;
        margin-top: 45%;
    }
}
@media(max-width: 321px) {
    .calculate{
        width: 55%;
        margin: auto;
        margin-top: 35%;
    }
}